.container-card {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  min-width: 300px;
  min-height: 200px;
  background: #fff;
  padding: 2rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
  -webkit-transform: translateY(-4px);
  -moz-transform: translateY(-4px);
  -ms-transform: translateY(-4px);
  -o-transform: translateY(-4px);
}

.card>header {
  position: absolute;
  top: 0;
  width: 100%;
}

.card>header>span {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 1.5rem;
}

.card>p {
  font-size: 1.2rem;
}

.card>span {
  color: rgb(208, 71, 71);
  font-size: 3rem;
}

.warning {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}