form {

    display: flex;
    justify-content: center;
    padding: 1rem;
}

input[type="text"] {
    width: 50vw;
    padding: .5rem .8rem;
    border-radius: 3rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    border: none;
    outline: none;
}

form>div {
    display: flex;
    align-items: center;
    position: relative;
    background-color: red;
}

button[type="submit"] {
    position: absolute;
    right: 4px;
    background-color: #353845;
    color: white;
    border: none;
    width: 25px;
    height: 25px;
    border-radius: .9rem;
    -webkit-border-radius: .9rem;
    -moz-border-radius: .9rem;
    -ms-border-radius: .9rem;
    -o-border-radius: .9rem;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #181819;
}

button[type="submit"]>span {
    font-size: 1rem;
}