nav {
    background: #fff;
    width: 100%;
    position: fixed;
    z-index: 9999
}

nav>div {
    padding: 1rem 1rem;
    display: flex;
    justify-content: space-between;
}

nav>div>span {
    cursor: pointer;
}